.ft-public {
    font-family: 'Public Sans', sans-serif;
}

.mw-520 {
    max-width: 520px !important;
}

.fix-width-mobile {
    @media (max-width: 1200px) {
        width: 100% !important;
    }
}

.mask-client {
    -webkit-mask-image: linear-gradient(to right, transparent 0%, rgba(0, 0, 0, .26) 26.68%, #000 49.52%, rgba(0, 0, 0, .26) 82.34%, transparent 100%);
    mask-image: linear-gradient(to right, transparent 0%, rgba(0, 0, 0, .26) 26.68%, #000 49.52%, rgba(0, 0, 0, .26) 82.34%, transparent 100%);
}

.line-bd-hv {
    position: relative;

    &::before {
        content: "";
        position: absolute;
        bottom: -1px;
        z-index: 2;
        right: 0;
        width: 0%;
        height: 2px;
        background: $secondary_color;
        @include transition(all 0.5s ease);
    }

    &:hover {
        &::before {
            left: 0;
            width: 100%;
        }
    }
}

.pxl-column-line-yes {
    position: relative;
    overflow: hidden;

    .line-column {
        position: absolute;
        top: 0;
        width: 1px;
        height: 100%;
        background: rgba(255, 255, 255, 0.15);

        &:before {
            content: "";
            position: absolute;
            top: -63px;
            left: -1px;
            width: 3px;
            height: 62px;
            border-radius: 100px;
            background: linear-gradient(135deg, rgba(255, 255, 255, 0.00) 0%, #FFF 100%);
            animation: slide-to-down 7s linear infinite;
        }

        &.line-column-1 {
            left: 100px;

            @media (max-width: 767px) {
                left: 50px;
            }

            &:before {
                animation-delay: 2s;
            }
        }

        &.line-column-2 {
            left: 50%;
            transform: translateX(-50%);

            &:before {
                animation-delay: 1s;
            }
        }

        &.line-column-3 {
            right: 100px;

            @media (max-width: 767px) {
                right: 50px;
            }

        }
    }
}

.ft-gt {
    @extend .ft-theme-default;

    p,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    div,
    span {
        @extend .ft-theme-default;
    }
}

.p-lr-3 {
    padding-left: 3px !important;
    padding-right: 3px !important;
}

.justify-sb {
    justify-content: space-between !important;
}

.revslider-initialised {
    .ft-gt {
        font-family: "GT Walsheim Pro", sans-serif !important;
    }
}

.height-100vh {
    height: 100vh !important;
}

.bd-radius-6 {
    border-radius: 0 0 0 6px !important;
}

.bd-radius-00015 {
    border-radius: 0 0 0 15px !important;
}

.bd-radius-01500 {
    border-radius: 0 15px 0 0 !important;
}

.transform-y-center {
    transform: translateY(-50%);
}

.line-text {
    &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 5px;
        bottom: 5px;
        width: 3px;
        border-radius: 10px;
        background-color: $secondary_color;
    }
}

.width-555 {
    width: 555px !important;
}

.bg-blur {
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
}

.bg-blur2 {
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background: rgba(255, 255, 255, 0.1);
}

.click-ld .elementor-widget-container {
    position: relative;
    -webkit-transition: all 0.35s cubic-bezier(0.645, 0.045, 0.355, 1);
    -khtml-transition: all 0.35s cubic-bezier(0.645, 0.045, 0.355, 1);
    -moz-transition: all 0.35s cubic-bezier(0.645, 0.045, 0.355, 1);
    -ms-transition: all 0.35s cubic-bezier(0.645, 0.045, 0.355, 1);
    -o-transition: all 0.35s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: all 0.35s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.click-ld .elementor-widget-container:before {
    content: "";
    position: absolute;
    z-index: 0;
    left: 0;
    top: 0;
    display: block;
    width: 100%;
    height: 100%;
    border: 1px solid var(--primary-color);
    border-radius: 1000px;
    animation: pxl_pulse_border 2000ms ease-out infinite;
    -webkit-animation: pxl_pulse_border 2000ms ease-out infinite;
    z-index: -2;
}

.click-ld .elementor-widget-container:hover {
    transform: scale(0.9);
}

.bg-blur2>.elementor-widget-wrap>.elementor-element> {
    >.elementor-widget-container {
        -webkit-backdrop-filter: blur(10px);
        backdrop-filter: blur(10px);
    }
}

.bg-blur3 {
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background: rgba(255, 255, 255, 0.3);
}

.cls-1,
.cls-3 {
    fill: none;
}

.m-rl-0,
.m-rl-0 .elementor-container {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.cls-1,
.cls-2,
.cls-3 {
    stroke: #000;
    stroke-miterlimit: 10;
    stroke-width: 28px;
}

.hide-under-1500 {
    @media (max-width: 1500px) {
        display: none;
    }
}

.hide-under-1600 {
    @media (max-width: 1600px) {
        display: none;
    }
}

.hv-icb:hover {

    .pxl-icon1,
    .pxl-icon-box {

        i,
        svg,
        img {
            animation-name: updown;
            animation-duration: 300ms;
            animation-timing-function: linear;
            animation-iteration-count: 1;
        }
    }
}

.hv-icb-2:hover {

    .pxl-icon1,
    .pxl-icon-box {

        i,
        svg,
        img {
            animation-name: wobble_vertical;
            animation-duration: 1s;
            animation-timing-function: ease-in-out;
            animation-iteration-count: 1;
        }
    }
}

.float-right {
    float: right;

    >div {
        float: right;
    }
}

.cls-2,
.cls-3 {
    opacity: 0.1;
}

.visible .cls-1 {
    @include transition(all 1.5s cubic-bezier(.645, .045, .355, 1));
}

.elementor-section .elementor-container {
    flex-wrap: wrap;
}

.overflow-hidden {
    overflow: hidden;
}

.d-block {
    display: block;
}

.display-none {
    height: 0 !important;
    overflow: hidden;
}

.bg-input-blur {
    input {
        -webkit-backdrop-filter: blur(10px);
        backdrop-filter: blur(10px);
    }
}

.tp-tab-title {
    font-weight: 400 !important;
    display: inline-block !important;
    position: relative !important;
    padding-bottom: 18px !important;
    @include transition(all .25s cubic-bezier(.645, .045, .355, 1));
    font-family: "GT Walsheim Pro", sans-serif !important;

    &:before {
        position: absolute;
        content: '';
        right: 0;
        bottom: 1px;
        height: 1px;
        background-color: #fff;
        width: 0%;
        @include transition(all .25s cubic-bezier(.645, .045, .355, 1));
    }
}

.btn-sl1 {
    @media (max-width: 970px) {
        display: none !important;
    }
}

.tp-tab-mask {
    overflow: visible !important;
}

.tp-tabs .tp-tab {
    // &:nth-child(2){
    //     margin-left: -35px !important;
    //     margin-right: 65px !important;
    // }

    // &:nth-child(3){
    //     margin-left: 5px !important;
    // }
    &.selected {
        .tp-tab-title {
            padding-bottom: 18px !important;
        }

        .tp-tab-title:before {
            width: 100%;
            left: 0;
            right: auto;
        }
    }
}

.pxl-icon-list.style-5,
.pxl-icon-box7 {

    svg path,
    svg line,
    svg rect {
        transition: all 1.3s linear;
    }

    svg circle {
        transition: all 3s linear;
    }
}

.pxl-icon-list.style-5.animated,
.pxl-icon-box7.animated {

    svg path,
    svg line,
    svg rect,
    svg circle {
        stroke-dashoffset: 0;
    }
}

@media screen and (-webkit-min-device-pixel-ratio:0) {

    .pxl-icon-list.style-5.animated,
    .pxl-icon-box7.animated {
        svg {
            min-height: 65px;
        }
    }
}

.wrap-arrow.right {
    .pxl-swiper-dots {
        text-align: right;
    }
}

.wrap-arrow.center {
    .pxl-swiper-dots {
        text-align: center;
    }
}

.wrap-arrow.left {
    .pxl-swiper-dots {
        text-align: left;
    }
}

.hv-divider-box {
    .elementor-divider-separator {
        @include transition(all .25s cubic-bezier(.645, .045, .355, 1));
    }

    &:hover {
        .elementor-divider-separator {
            --divider-color: #121c27 !important;
        }
    }
}

.bt-bl-landing {
    border-radius: 126px;
    overflow: hidden;

    a {
        background-color: rgba(255, 255, 255, 0.2);
        overflow: hidden;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: 213px;
        height: 213px;
        @extend .bg-blur;
        @include transition(all .25s cubic-bezier(.645, .045, .355, 1));

        &:hover {
            background-color: rgba(255, 255, 255, 0.0001);
        }

        @media (max-width: 1200px) {
            width: 170px;
            height: 170px;
        }
    }
}

.box-hv-ld {
    .elementor-widget-pxl_heading {
        @include transition(all .25s cubic-bezier(.645, .045, .355, 1));
    }

    svg path {
        @include transition(all .25s cubic-bezier(.645, .045, .355, 1));
    }

    &:hover {
        .elementor-widget-pxl_heading .elementor-widget-container {
            border-color: #121c27 !important;
        }

        .pxl-icon-list {
            a {
                background-color: $primary_color !important;

                svg path {
                    fill: #fff !important;
                }
            }
        }
    }
}

.hv-dvd {
    .elementor-divider {
        .elementor-divider-separator {
            @include transition(all .35s cubic-bezier(.645, .045, .355, 1));
        }
    }

    &:hover {
        .elementor-divider-separator {
            width: 137px !important;
        }
    }
}

@keyframes img_zz {
    0% {
        background-size: 100%;
    }

    100% {
        background-size: 110%;
    }
}

.custom-img-landing {
    animation: img_zz 20000ms ease-out;
    -webkit-animation: img_zz 20000ms ease-out;
}

.flex-grow-1 {
    flex-grow: 1;
    text-align: center;
}

.flex-grow-1-left {
    flex-grow: 1;
    text-align: left;
}

.hide-under-1700 {
    @media (max-width: 1700px) {
        display: none;
    }
}

.custom-for-header {
    @media (max-width: 1500px) {
        .pxl-item--meta {
            display: none;
        }
    }
}

.order-last-xs {
    @media (max-width: 767px) {
        order: 13;
    }
}

.custom-hv-ic {

    svg,
    i {
        @include transition(all .25s cubic-bezier(.645, .045, .355, 1));
    }

    &:hover {

        svg,
        i {
            transform: rotate(45deg);
        }
    }
}

.custom-animate-overlay {
    .elementor-background-overlay {
        left: -20% !important;
        opacity: 0;
        -webkit-transition: all 1s cubic-bezier(0.645, 0.045, 0.355, 1) !important;
        -khtml-transition: all 1s cubic-bezier(0.645, 0.045, 0.355, 1) !important;
        -moz-transition: all 1s cubic-bezier(0.645, 0.045, 0.355, 1) !important;
        -ms-transition: all 1s cubic-bezier(0.645, 0.045, 0.355, 1) !important;
        -o-transition: all 1s cubic-bezier(0.645, 0.045, 0.355, 1) !important;
        transition: all 1s cubic-bezier(0.645, 0.045, 0.355, 1) !important;
        transition-delay: 400ms;
    }

    &.animated {
        .elementor-background-overlay {
            left: 0% !important;
            opacity: 1;
        }
    }
}