.pxl-accordion {
    .pxl-accordion--title {
        margin-bottom: 0;
        cursor: pointer;
    }

    .pxl-accordion--content {
        display: none;
    }

    .pxl-icon--plus {
        font-style: normal;
    }
}

.pxl-accordion1 {
    &.style1 {
        .pxl-icon--plus {
            right: 0;
            width: 11px;
            height: 11px;
            z-index: 3;
            position: absolute;
            top: 50%;
            @include transform(translate(0, -50%));
            @include transition(all 300ms linear 0ms);

            &:before,
            &:after {
                background-color: #000;
                @include transition(all 300ms linear 0ms);
            }

            &:before {
                top: 4px;
                left: 0px;
            }

            &:after {
                top: -1px;
                left: 5px;
            }
        }

        .pxl-accordion--title {
            font-size: 20px;
            padding-right: 15px;
            @extend .ft-theme-default;
            font-weight: 500;
            margin: 0;
            color: #0a1119;
            position: relative;
            @include transition(all 300ms linear 0ms);

            &:before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                opacity: 0;
                z-index: 2;
            }
        }

        .pxl-accordion--content {
            margin-top: 15px;
            padding-bottom: 10px;
            font-size: 15px;
            line-height: 25px;
            color: #4b535d;
        }

        .pxl--item {
            border-bottom: 1px solid #d3d5d6;
            position: relative;
            z-index: 1;
            padding-bottom: 17px;

            &.active {
                .pxl-icon--plus {
                    &:after {
                        transform: rotate(90deg);
                    }
                }
            }

            +.pxl--item {
                margin-top: 18px;
            }
        }
    }

    &.style4 {
        .pxl-icon--plus {
            right: 40px;
            width: 16px;
            height: 16px;
            z-index: 3;
            position: absolute;
            top: 50%;
            @include transform(translate(0, -50%));
            @include transition(all 300ms linear 0ms);

            @media (max-width: 767px) {
                right: 20px;
            }

            &:before,
            &:after {
                background-color: #000;
                @include transition(all 300ms linear 0ms);
            }

            &:before {
                width: 16px !important;
                height: 1px !important;
                top: 7px;
                left: 0px;
            }

            &:after {
                width: 1px !important;
                height: 16px !important;
                top: -1px;
                left: 7px;
            }
        }

        .pxl-accordion--title {
            padding: 18px 35px;
            font-size: 20px;
            @extend .ft-theme-default;
            font-weight: 500;
            margin: 0;
            font-size: 17px;
            line-height: 1.6;
            color: #0a1119;
            position: relative;
            @include transition(all 300ms linear 0ms);

            &:before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                opacity: 0;
                z-index: 2;
            }
        }

        .pxl-accordion--content {
            border-top: 1px solid $secondary_color;
            padding: 29px 35px 31px 35px;
            font-size: 15px;
            line-height: 26px;
            color: #4b535d;
        }

        .pxl--item {
            border: 1px solid #d3d5d6;
            position: relative;
            background-color: #fff;
            z-index: 1;

            &.active {
                border-color: $secondary_color;

                .pxl-icon--plus {
                    &:after {
                        transform: rotate(90deg);
                        opacity: 0;
                    }
                }
            }

            +.pxl--item {
                margin-top: 15px;
            }
        }
    }

    &.style3 {
        .pxl-icon--plus {
            right: 0;
            width: 11px;
            height: 11px;
            z-index: 3;
            position: absolute;
            top: 50%;
            @include transform(translate(0, -50%));
            @include transition(all 300ms linear 0ms);

            &:before,
            &:after {
                background-color: #000;
                @include transition(all 300ms linear 0ms);
            }

            &:before {
                top: 4px;
                left: 0px;
            }

            &:after {
                top: -1px;
                left: 5px;
            }
        }

        .pxl-accordion--title {
            font-size: 20px;
            line-height: 30px;
            padding-right: 15px;
            @extend .ft-theme-default;
            font-weight: 400;
            margin: 0;
            color: #0a1119;
            position: relative;
            @include transition(all 300ms linear 0ms);

            &:before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                opacity: 0;
                z-index: 2;
            }
        }

        .pxl-accordion--content {
            margin-top: 15px;
            padding-bottom: 7px;
            font-size: 15px;
            line-height: 25px;
            color: #4b535d;
        }

        .pxl--item {
            @include transition(all .25s cubic-bezier(.645, .045, .355, 1));
            padding: 21px 35px 19px 35px;
            background-color: #ededed;
            position: relative;
            z-index: 1;

            &.active {
                .pxl-accordion--title {
                    font-weight: 500;
                }

                padding-top: 34px;

                .pxl-icon--plus {
                    &:after {
                        transform: rotate(90deg);
                    }
                }
            }

            +.pxl--item {
                margin-top: 11px;
            }
        }
    }

    &.style2 {
        .pxl--item {
            .pxl-accordion--title {
                padding: 16px 35px 15px 35px;
                @extend .ft-theme-default;
                color: #ffffff;
                font-size: 17px;
                line-height: 27px;
                background-color: #121c27;
                display: flex;
                align-items: center;
                justify-content: space-between;
                font-weight: 500;
                position: relative;

                @media (max-width: 575px) {
                    padding: 16px 25px 15px 25px;
                }

                &:before {
                    position: absolute;
                    content: '';
                    top: 0;
                    right: 0;
                    background-color: #fff;
                    opacity: 0.15;
                    width: 120px;
                    height: 100%;
                    clip-path: polygon(40% 0, 100% 0, 100% 100%, 0% 100%);

                    @media (max-width: 575px) {
                        clip-path: polygon(0% 0, 100% 0, 100% 100%, 0% 100%);
                        width: 60px;
                    }
                }

                i {
                    font-size: 11px;
                    position: relative;
                    z-index: 2;
                    @include transition(all .25s cubic-bezier(.645, .045, .355, 1));
                }

                .pxl-title--text {
                    position: relative;
                    z-index: 2;
                }
            }

            .pxl-accordion--content {
                background-color: #e9eaea;
                padding: 45px 40px 50px 40px;
                font-size: 15px;
                line-height: 25px;
                color: #4b535d;

                @media (max-width: 575px) {
                    padding: 25px 20px 30px 20px;
                }

                br {
                    display: none;
                }

                h4 {
                    color: #0a1119;
                    @extend .ft-theme-default;
                    font-size: 17px;
                    font-weight: 400;
                    margin-bottom: 17px;
                }

                ul {
                    margin-top: 22px;

                    li {
                        padding: 0;
                        padding-top: 21px;
                        padding-bottom: 20px;
                        list-style: none;
                        border-top: 1px solid #c9cbcd;
                        font-size: 15px;
                        line-height: 30px;

                        span {
                            font-size: 17px;
                            color: #0a1119;
                            @extend .ft-theme-default;
                        }

                        &:last-child {
                            padding-bottom: 8px;
                        }
                    }
                }

                a {
                    display: inline-block;
                    padding: 0 35px;
                    color: #fff;
                    line-height: 50px;
                    font-size: 15px;
                    @extend .ft-theme-default;
                    background-color: #121c27;
                    border-radius: 1000px;
                    @include transition(all .25s cubic-bezier(.645, .045, .355, 1));

                    &:hover {
                        opacity: 0.8;
                    }
                }
            }

            +.pxl--item {
                margin-top: 15px;
            }

            &.active {
                .pxl-accordion--title {
                    i {
                        transform: rotatex(180deg);
                    }
                }
            }
        }
    }

    &.style5 {

        .pxl-accordion--title {
            color: $primary_color;
            font-size: 18px;
            font-weight: 500;
            @include transition(all 300ms linear 0ms);
            border-bottom: 1px solid transparent;
            padding-right: 40px;
        }

        .pxl-icon--plus {
            position: absolute;
            top: 19px;
            right: 35px;
            background-color: $secondary_color;
            width: 30px;
            height: 30px;

            &:after,
            &:before {
                background-color: #fff;
            }

            &:after {
                width: 1px;
                height: 9px;
                top: 11px;
                left: 15px;
            }

            &:before {
                width: 9px;
                height: 1px;
                top: 15px;
                left: 11px;
            }
        }

        .pxl-icon-wrap {
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: $secondary_color;
            border-radius: 4px;
            width: 30px;
            height: 30px;
            position: absolute;
            top: 0;
            right: 0;
        }

        .pxl-accordion--content {
            margin-top: 18px;
            font-size: 15px;
            font-weight: 400;
            color: #4B535D;
            line-height: 25px;
            margin-bottom: 23px;

            @media (min-width: 576px) {
                padding-right: 40px;
            }
        }

        .pxl--item {
            overflow: hidden;
            position: relative;
            z-index: 1;
            @include transition(all .25s cubic-bezier(.645, .045, .355, 1));
            border: 1px solid #DCE2E1;
            padding: 18px 29px 20px 30px;
            border-radius: 5px;
            background-color: #FFF;

            &.active {
                .pxl-accordion--title {
                    border-bottom: 1px solid #DCE2E1;
                    padding-bottom: 20px;
                }

                .pxl-icon--plus:after {
                    opacity: 0;
                    transform: rotate(90deg);
                }
            }

            +.pxl--item {
                margin-top: 15px;
            }
        }
    }

    &.style6 {

        .pxl-accordion--title {
            color: $primary_color;
            font-size: 20px;
            font-weight: 500;
            @include transition(all 300ms linear 0ms);
            border-bottom: 1px solid transparent;
            position: relative;
            border-bottom: 1px solid #DCE2E1;
            padding: 17px 0;
            padding-right: 40px;
        }

        .pxl-icon--plus {
            position: absolute;
            top: 50%;
            @include transform(translate(0, -50%));
            right: 0;
            background-color: #E8E9EA;
            width: 30px;
            height: 30px;
            border-radius: 2px;

            &:after,
            &:before {
                background-color: $secondary_color;
            }

            &:after {
                width: 1px;
                height: 9px;
                top: 11px;
                left: 15px;
            }

            &:before {
                width: 9px;
                height: 1px;
                top: 15px;
                left: 11px;
            }
        }

        .pxl-icon-wrap {
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: $secondary_color;
            border-radius: 4px;
            width: 30px;
            height: 30px;
            position: absolute;
            top: 0;
            right: 0;
        }

        .pxl-accordion--content {
            margin-top: 22px;
            font-size: 15px;
            font-weight: 400;
            color: #4B535D;
            line-height: 25px;
            margin-bottom: 19px;

            @media (min-width: 576px) {
                padding-right: 40px;
            }
        }

        .pxl--item {
            overflow: hidden;
            position: relative;
            z-index: 1;
            @include transition(all .25s cubic-bezier(.645, .045, .355, 1));

            &.active {
                .pxl-icon--plus:after {
                    opacity: 0;
                    transform: rotate(90deg);
                }
            }
        }
    }
}

body.rtl {}