//image carousel
.pxl-image-carousel {
    .pxl-item--image  {
        background-position: center;
        background-size: cover;
    }
    img {
        width: 100%;
    }
    &.style-2 {
        .pxl-item--image  {
            position:relative;
            &:before {
                position: absolute;
                content:'';
                top:0;
                left:0;
                right:0;
                bottom:0;
                background-image: url(../img/bf-im.png);
                background-position: center;
                background-size: cover;
                opacity: 0;
                @include transition(all .25s cubic-bezier(.645,.045,.355,1));
            }
            
            .lightbox {
                opacity: 0;
                margin-top: -30px;
                @include transition(all .25s cubic-bezier(.645,.045,.355,1));
                position:absolute;
                top:50%;
                left: 50%;
                transform: translate(-50%,-50%);
                width: 65px;
                height: 65px;
                background-color: $primary_color;
                display: flex;
                align-items: center;
                justify-content: center;
                color: #fff;
                font-size: 20px;
                line-height: 65px;
                &:hover {
                    background-color: #fff;
                    color: $primary_color;
                }
            }
            &:hover {
                &:before {
                    opacity: 1;
                }
                .lightbox {
                    margin-top: 0;
                    opacity: 1;
                }
            }
        }
    }
    &.style-3 {
        .pxl-swiper-slide {
            .pxl-item--image  {
                background-size: 100% !important;
                @include transition(all 10s linear 0ms);
                background-size: cover !important;
            }
            &.swiper-slide-active {
                .pxl-item--image  {
                    //background-size: 120% !important;
                }
            }
        }
    }
}
.pxl-image-carousel2 {
    .pxl-swiper-slide {
        .pxl-item--image  {
            overflow: hidden;
            position:relative; 
            img {
                transform: scale(1.05);
                @include transition(all .45s cubic-bezier(.645,.045,.355,1));
            }
            .pxl-btn-video {
                position:absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
                width: 90px;
                height: 90px;
                background-color:rgba(18, 28, 39, 0.1);
                -webkit-backdrop-filter: blur(10px);
                backdrop-filter: blur(10px);
                border-radius: 1000px;
                line-height: 90px;
                text-align: center;
                color: #fff;
                font-size: 18px;
                @include transition(all .25s cubic-bezier(.645,.045,.355,1));
                &:hover {
                    background-color: $primary_color;
                    color: #fff;
                    
                }
            }
            &:hover {
                img {
                    transform: scale(1);
                }
            }
        }
        .wrap-content {
            .pxl-item--star {
                margin-top: 1px;
                display: inline-flex;
                align-items: center;
                svg {
                    margin:0 -1px;
                    width: 17px;
                    fill:$primary_color;
                }
            }
            .top-content{
                margin-top: 34px;
                column-gap: 20px;
                .pxl-item--title {
                    margin-right: 25px;
                    display: inline-block;
                    font-size: 17px;
                    font-weight: 500;
                    line-height: 26px;
                    @extend .ft-theme-default;
                    margin-bottom: 0;
                }
            }
            .pxl-item--position {
                font-size: 15px;
                line-height: 28px;
                color: #848b94;
                @extend .ft-Public;
            }
        }
    }
}
.pxl-image-carousel3 {
    .pxl-swiper-container {
        margin: 0;
    }
    .pxl-swiper-slide {
        padding: 0;
        border: 1px solid #d3d5d6;
        border-left: none;
        .pxl-item--inner  {
            text-align: center;
            padding: 70px 50px;
            @media (max-width: 992px) {
                padding: 50px 20px;
            }
            @media (max-width: 767px) {
                padding: 50px 20px;
            }
            .pxl-item--image  {
                width: 256px;
                height: 256px;
                border-radius: 1000px;
                overflow: hidden;
                margin: 0 auto;
                position:relative;
                @media (max-width: 1200px) {
                    width: 200px;
                    height: 200px;
                }
                @media (max-width: 767px) {
                    width: 150px;
                    height: 150px;
                }
                img {
                    @include transition(all .45s cubic-bezier(.645,.045,.355,1));
                    &:nth-child(2) {
                        position:absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        opacity: 0;
                    }
                }
            }
            .pxl-item--title {
                font-size: 26px;
                line-height: 40px;
                font-weight: 500;
                margin-top: 40px;
                margin-bottom: 18px;
            }
            .pxl-item--description {
                font-size: 15px;
                line-height: 25px;
                color: #4b535d;
                margin-bottom: 27px;
            }
            .btn-more {
                width: 100%;
                display: block;
                line-height: 50px;
                background-color: $primary_color;
                color:#fff;
                font-size: 15px;
                @extend .ft-theme-default;
                text-align: center;
                border-radius: 0;
                font-weight: 400;
            }
        }
        &:hover {
            .pxl-item--image  {
                img {
                    transform: scale(1.05);
                    &:nth-child(2) {
                        opacity: 1;
                    } 
                }
            }
        }
    }
}
.pxl-image-carousel5 {
    .pxl-swiper-slide {
        padding: 25px;
        border: 1px solid #d7d7d7;
        border-right: none;
        margin-bottom: 2px;
        .pxl-item--inner {
            .pxl-item--image  {
                border: 1px solid #d7d7d7;
                overflow: hidden;
            }
            .pxl-button {
                margin-top: 27px;
                margin-bottom: 30px;
                text-align: center;
                a {
                    font-size: 17px;
                    @extend .ft-theme-default;
                    font-weight: 400;
                    color: $secondary_color;
                    @include transition(all .25s cubic-bezier(.645,.045,.355,1));

                    &:hover {
                        color: $primary_color;
                    }
                }
            }
        }
    }
}
.pxl-image-carousel4 {
    .pxl-swiper-bottom {
        justify-content: center;
        .pxl-swiper-dots {
            margin-top: 41px;
            margin-bottom: 10px;
        }
    }
    .pxl-swiper-slide {
        opacity: 0.35;
        @include transition(all .25s cubic-bezier(.645,.045,.355,1));
        .pxl-item--inner  {
            border: 1px solid #d3d5d6;
            background-color: #fff;
            padding: 47px 60px 41px 60px;
            @media (max-width: 767px) {
                padding: 20px 20px 20px 20px;
            }
            .icon-box {
                opacity: 0;
                @include transition(all .25s cubic-bezier(.645,.045,.355,1));
                position:absolute;
                width: 195px;
                height: 90px;
                top:0;
                right: 150px;
                &:before {
                    position: absolute;
                    content:'';
                    top:0;
                    left:20px;
                    width: 150px;
                    clip-path: polygon(50% 100%, 0 0, 100% 0);
                    height: 100%;
                    background-color: #131d28;
                    opacity: 0.05;
                    @include transition(all 1s cubic-bezier(.645,.045,.355,1));
                }
                &:after {
                    @include transition(all 1s cubic-bezier(.645,.045,.355,1));
                    clip-path: polygon(50% 100%, 0 0, 100% 0);
                    position: absolute;
                    content:'';
                    top:0;
                    right:20px;
                    width: 150px;
                    height: 100%;
                    background-color: #131d28;
                    opacity: 0.05;
                }
            }
            .content-top {
                display: flex;
                align-items: center;
                column-gap: 65px;
                position:relative;
                padding-right: 100px;
                @media (max-width: 1200px) {
                    column-gap: 35px; 
                }
                @media (max-width: 767px) {
                    padding-right: 0;
                    display: block;
                }

            }
            .pxl-item--sub-title {
                font-size: 13px;
                @extend .ft-theme-default;
                letter-spacing: 4.8px;
                text-transform: uppercase;
                margin-bottom: 17px;
                @media (max-width: 767px) {
                    margin-top: 30px;
                }
            }
            .pxl-item--title {
                font-size: 30px;
                line-height: 40px;
                color: #0a1119;
                max-width: 420px;
                @media (max-width: 767px) {
                    max-width: 100%;
                }
            }
            .pxl-item--description {
                border-top: 1px solid #d3d5d6;
                margin-top: 49px;
                font-size: 15px;
                line-height: 26px;
                color: #4b535d;
                padding-top: 32px;
                margin-bottom: 0;
                @media (max-width: 767px) {
                    margin-top: 20px;
                    padding-top: 20px;
                }
            }
            .pxl-item--image  {
                max-width: 203px;
                border-radius: 1000px;
                overflow: hidden;
                img {
                    transform: scale(1.2);
                    @include transition(all 1s cubic-bezier(.645,.045,.355,1));
                }
            }
            .btn_link {
                position:absolute;
                top: 50%;
                right: 0;
                transform: translatey(-50%);
                width: 85px;
                height: 85px;
                border-radius: 100px;
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: $secondary_color;
                color: #fff;
                font-size: 22px;
                i {
                    line-height: 16px;
                    margin-bottom: -3px;
                    @include transition(all .25s cubic-bezier(.645,.045,.355,1));
                }
                &:hover {
                    background-color: $four_color;
                    i {
                        transform: rotate(-45deg);
                    }
                }
            }
        }
        &.swiper-slide-active {
            opacity: 1;
            .icon-box {
                opacity: 1;
                &:before {
                    left:0;
                }
                &:after {
                    right:0;
                }
            }
            .pxl-item--image img {
                transform: scale(1);
            }
        }
    }
}
.pxl-image-carousel6 {
    .pxl-swiper-slide {
        .pxl-item--inner  {
            text-align: center;
            .pxl-item--image  {
                margin-bottom: 19px;
                overflow: hidden;
                border-radius: 18px;
                img {
                    @include transition(all .45s cubic-bezier(.645,.045,.355,1));
                    filter: grayscale(100);
                }
            }
            &:hover {
                img {
                    transform: scale(1.05);
                    filter: grayscale(0);
                }
            }
            .pxl-item--title a{
                font-size: 23px;
                line-height: 40px;
                color: #111111;
                text-decoration: underline transparent;
                font-size: 23px;
                &:hover {
                    text-decoration: underline #111111;
                }
            }
            .pxl-item--description {
                font-size: 15px;
                line-height: 25px;
                color: #666666;
                max-width: 85%;
                margin: 0 auto;
            }
        }
    }
    .pxl-swiper-bottom {
        justify-content: center;
        .pxl-swiper-dots.style-1.pxl-swiper-pagination-bullets span.swiper-pagination-bullet-active:before {
            border-color: $primary_color;
        }
    }
}