.pxl-nav-menu {

	/* First Level */
	.pxl-menu-primary > li {
		&:hover,&.current-menu-parent {
			> a {
				
				&:before {
					left: 0;
					right: auto;
					width: 100%;
				}
			}
		}
		> a {
			position: relative;
			@extend .ft-theme-default;
			font-weight: 400;
			font-size:17px;		}
			&.menu-item-has-children > a {
				.caseicon-angle-arrow-down {
					display: inline-flex;
					font-size: 10px;
					line-height: 1;
					margin-left: 10px;
					@include transition(transform .25s cubic-bezier(.645,.045,.355,1));
				}
			}
			&:hover {
				a .caseicon-angle-arrow-down {
					@include transform(rotateX(-180deg));
				}
			}
		}

		/* Style Level First */
		.pxl-menu-item-text {
			position: relative;
			display: flex;
			align-items: center;
			justify-content: space-between;

		}

		/* Sub Menu */
		.sub-menu li.menu-item-has-children > a:after {
			content: "\f14d";
			position: absolute;
			top: 50%;
			right: 24px;
			@include transform(translate(0, -50%));
			font-size: 10px;
			font-family: "Caseicon";
			font-weight: 400;
		}

		@media #{$min-xl} {
			&.sub-style-default {
				.sub-menu > li {
					.pxl-menu-item-text {
						@include transition(all 300ms ease-out 0ms);
						&:before {
							content: '';
							position: absolute;
							top: calc(50% - 1px);
						//@include transform(translateY(-50%) scale(0));
						height: 1px;
						width: 0px;
						background-color: $primary_color;
						@include transition(all 300ms ease-out 0ms);
						left: 0px;
					}
				}
				&:hover > a,
				&.current_page_item > a,
				&.current-menu-item > a,
				&.current_page_ancestor > a,
				&.current-menu-ancestor > a {
					.pxl-menu-item-text {
						padding-left: 50px;
						color: $primary_color;
						&:before {
							width: 30px;
						}
					}
				}
			}
		}
	}

	&.show-effect-fade {
		.pxl-menu-primary .sub-menu {
			margin-top: 0;
		}
	}

	&.show-effect-dropdown {
		.pxl-menu-primary {
			.sub-menu {
				@include transform(scaleY(0));
				transform-origin: 0 0 0;
				-webkit-transform-origin: 0 0 0;
				-ms-transform-origin: 0 0 0;
				-o-transform-origin: 0 0 0;
				margin-top: 0;
			}
			li:hover > .sub-menu, li.focus > .sub-menu {
				@include transform(scaleY(1));
			}
		}
	}

	&.show-effect-slidedown {
		.pxl-menu-primary {
			.sub-menu {
				margin-top: 0;
				transform: perspective(500px) rotateX(-20deg);
				transform-origin: 50% 0%;
			}
			li:hover > .sub-menu, li.focus > .sub-menu {
				transform: perspective(500px) rotateX(0deg);
			}
		}
	}

	&.pxl-nav-vertical {
		.pxl-arrow-toggle {
			position: absolute;
			right: -40px;
			top: 50%;
			transform: translate(0, -50%);
			font-size: 16px;
			width: 40px;
			height: 40px;
			display: inline-flex;
			@include transition(all 300ms linear 0ms);
			align-items: center;
			display: inline-flex;
			justify-content: center;
			align-items: center;
			color: $primary_color;
			i {
				@include transition(all 300ms linear 0ms);
			}
		}
		.pxl-menu-primary {
			.menu-item-has-children  {
				> a:before{
					content: "\f14d";
					width: 8px;
					position: absolute;
					top: 50%;
					right: -20px;
					left: auto;
					-webkit-transform: translate(0, -50%);
					-khtml-transform: translate(0, -50%);
					-moz-transform: translate(0, -50%);
					-ms-transform: translate(0, -50%);
					-o-transform: translate(0, -50%);
					transform: translate(0, -50%);
					font-size: 10px;
					font-family: "Caseicon";
					font-weight: 400;
				}
				> a:after {
					display: block !important;
					position: absolute;
					content:'';
					left: 0;
					bottom: 0;
					top: auto;
					transform: none;
					background-color: $secondary_color;
					height: 1px;
					width: 0;
					@include transition(all .35s cubic-bezier(.645,.045,.355,1));
				}
			}
			a:hover .pxl-arrow-toggle i {
				transform: rotate(45deg);
			}
			> li {
				position: static;
				display: block;
				margin: 0 0 18px;
				> a {
					line-height: normal;
					.caseicon-angle-arrow-down {
						display: none !important;
					}
				}
				.sub-menu {
					display: flex; 
					flex-direction: column; 
					justify-content: center; 
					box-shadow: 11px 0 59px rgba(1, 1, 1, 0.1);
					height: 100vh;
					position: absolute;
					left: calc(100% + 30px);
					top: 0;
					opacity: 1;
					visibility: visible;
					opacity: 0;
					pointer-events: none;
					text-align: inherit;
					background-color: #fff;
					margin: 0;
					padding-top: 18px;
					transition: none;
					@include transition(all .35s cubic-bezier(.645,.045,.355,1));
					> li {
						padding: 0 50px 0 50px;
						> a {
							padding: 0;
							display: inline-block;
							color: #444;
							border: none;
							&:hover {
								color: $primary_color;
							}
						}
						+ li {
							margin-top: 8px;
						}
						&:hover > a,
						&.current_page_item > a,
						&.current-menu-item > a,
						&.current_page_ancestor > a,
						&.current-menu-ancestor > a {
							color: $primary_color;
						}
					}
				}
				
			}
			a{
				&:after {
					position: absolute;
					content:'';
					left: 0;
					bottom: 0;
					background-color: $secondary_color;
					height: 1px;
					width: 0;
					@include transition(all .35s cubic-bezier(.645,.045,.355,1));
				}
			}
			li:hover > {
				a {
					color: $primary_color;
				}
				a:after {
					width: 100%;
				}
			}
			li:hover > .sub-menu {
				opacity: 1;
				left: 100%;
				pointer-events: auto;
			}
			.sub-menu li.menu-item-has-children {
				.pxl-arrow-toggle {
					color: inherit;
				}
			}
		}
	}
	&.pxl-mega-boxed {
		.pxl-megamenu > .sub-menu {
			padding: 20px 15px 15px 15px;
			max-width: 1170px;
		}
	}

	// Style 
	&.fr-style-box {
		.pxl-divider-move {
			height: 39px;
			border-radius: 39px;
			background-color: $primary_color;
			position: absolute;
			top: 50%;
			@include transform(translate(0, -50%));
			@include transition(all 300ms linear 0ms);
			opacity: 0;
			+ .pxl-divider-move {
				display: none;
			}
			&.active {
				opacity: 1;
			}
		}
		.pxl-menu-primary > li {
			margin: 0;
			> a {
				z-index: 9;
				.pxl-menu-item-text {
					padding: 0 17px;
					position: relative;
					z-index: 1;
				}
			}
			&:hover > a,
			&.pxl-shape-active > a {
				color: #fff;
			}
		}
	}
	&.fr-style-divider1 {
		.pxl-menu-primary > li {
			display: inline-block;
			vertical-align: middle;
			> a {
				border: none;
				&:before{
					position: absolute;
					content: '';
					bottom: -1px;
					top: auto;
					right: 0;
					height: 4px;
					width: 0;
					@include transition(all .25s cubic-bezier(.645,.045,.355,1));
					@media (max-width: 767px) {
						height: 2px;
					}
				}
			}
			&:hover {
				a:before{
					width: 100% !important;
				}
			}
		}
	}
	&.fr-style-divider2 {
		.pxl-menu-primary > li {
			display: inline-block;
			vertical-align: middle;
			> a {
				border: none;
				&:before{
					position: absolute;
					content: '';
					top: 0;
					right: 0;
					height: 2px;
					width: 0;
					@include transition(all .25s cubic-bezier(.645,.045,.355,1));
				}
				i {
					margin-left: 10px !important;
				}
				&:hover {
					&:before {
						left:0;
						right:auto;
						width: 100%;
					}
				}
			}
			&.current-menu-parent {
				>  a:before {
					width: 100% !important;
				}
			}
		}
	}
	&.fr-style-divider3 {
		.pxl-menu-primary > li {
			display: inline-block;
			vertical-align: middle;
			> a {
				border: none;
				&:before{
					background-color: #fff;
					position: absolute;
					content: '';
					bottom: 0;
					top: auto;
					@include transition(all .25s cubic-bezier(.645,.045,.355,1));
					right: 0;
					height: 1px;
					width: 0;
				}
				i {
					//margin-left: 10px !important;
					display: none !important	;
				}

				&:hover,&.pxl-onepage-active {
					&:before {
						left:0;
						right:auto;
						width: 100%;
					}
				}
			}
			&.current-menu-parent {
				>  a:before {
					width: 100% !important;
				}
			}
		}
	}
	&.fr-style-dot {
		.pxl-menu-primary > li {
			@include transition(all .35s cubic-bezier(.645,.045,.355,1));
			> a {
				border: none;
				position:relative;
				.pxl-menu-item-text {
					position:relative;
					&:before {
						position: absolute;
						content:'';
						top:50% !important;
						border-radius: 10px;
						transform: translatey(-50%) scale(0);
						left:-15px !important;
						width: 5px !important;
						height: 5px !important;
						@include transition(all .25s cubic-bezier(.645,.045,.355,1));
						background-color: $primary_color;
					}
				}

			}
			&:hover {
				.pxl-menu-item-text:before {
					transform: translatey(-50%) scale(1);
				}
			}
			&:last-child > a {
				.pxl-menu-item-text {
					&:after {
						display: none;
					}
				}
			}
		}
	}
}


.pxl-menu-custom1 {
	.pxl-menu-primary > li {
		> a {
			font-size: 18px;
		}
		@media #{$max-xxl} {
			margin: 0 14px;
			> a {
				font-size: 16px;
			}
		}
	}
}

@media #{$min-xl} {
	#pxl-header-default {
		.pxl-menu-primary > li {
			margin: 0 1px;
			> a {
				span {
					line-height: 37px;
					display: inline-flex;
					padding: 0 22px;
					align-items: center;
					position: relative;
					z-index: 1;
					&:before {
						content: '';
						position: absolute;
						top: 0;
						left: 0;
						height: 100%;
						width: 100%;
						background-color: $secondary_color;
						z-index: -1;
						@include transition(all .25s cubic-bezier(.645,.045,.355,1));
						transform: scaleY(0);
						transform-origin: bottom center;
					}
				}
			}
			&:hover > a,
			&.current_page_item > a,
			&.current-menu-item > a,
			&.current_page_ancestor > a,
			&.current-menu-ancestor > a {
				color: $primary_color;
				span:before {
					transform: scaleY(1);
				}
			}
		}
	}
}

.section-mega-active .elementor-widget-wrap {
	border-bottom-right-radius: 0px !important;
	border-bottom-left-radius: 0px !important;
}

.pxl-mega-menu-elementor::-webkit-scrollbar {
	display: none;
}
.pxl-mega-menu-elementor {
	overflow-y: scroll;
}