.pxl-tabs {
    .pxl-item--title {
        cursor: pointer;
        @include transition(all .25s cubic-bezier(.645, .045, .355, 1));
    }

    .pxl-item--content {
        display: none;
    }

    .elementor-section.elementor-section-stretched {
        width: auto !important;
        left: 0 !important;
    }

    .pxl-tabs--elementor {
        margin: 0 -15px;
    }

    &.tab-effect-fade {
        .pxl-item--content {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            height: 100% !important;
            display: block !important;
            opacity: 0 !important;
            visibility: hidden;
            @include transition(all .25s cubic-bezier(.645, .045, .355, 1));

            &.active {
                position: static;
                opacity: 1 !important;
                visibility: visible;
            }
        }

        .pxl-tabs--content {
            position: relative;
        }
    }
}

.over-hd {
    overflow: hidden;
}

//time table
.tt_navigation_cell {
    width: 100%;
    display: flex;
    justify-content: center;
    background-image: url(../img/bg-timetable.png);
    background-position: center;
    background-size: cover;
    padding: 77px 20px;
    margin: 0 !important;

    @media (max-width: 1250px) {
        background-image: none;
        background-color: #000000;
        padding: 50px 20px;
    }

    @media (max-width: 991px) {
        padding: 30px 20px;
    }

    @media (max-width: 480px) {
        padding: 30px 15px;
    }

    .tt_tabs_navigation {
        li {
            margin: 10px !important;
        }

        li a {
            border-radius: 5px;
            color: #fff !important;
            border: 1px solid #fff !important;
            @extend .ft-theme-default;
            font-size: 20px !important;
            padding: 12px 30px !important;
            transition: .3s !important;

            &:hover {
                background-color: $primary_color;
                //border-color: $primary_color !important ;
            }

            @media (max-width: 575px) {
                padding: 8px 20px !important;
                font-size: 16px !important;
            }

            @media (max-width: 480px) {
                padding: 8px 18px !important;
                font-size: 15px !important;
            }
        }
    }
}

.tt_tabs>.ui-tabs-panel {
    margin-top: -73px;
    background-color: #fcf9f4;
    padding: 115px !important;

    @media (max-width: 1200px) {
        padding: 115px 70px !important;
    }

    @media (max-width: 991px) {
        padding: 115px 10px !important;
    }

    @media (max-width: 767px) {
        padding: 75px 10px 55px 10px !important;
    }
}

.pxl-tabs1 {
    .pxl-tabs--inner {
        .pxl-tabs--title {
            display: flex;
            column-gap: 85px;
            border-bottom: 1px solid #d1d2d4;
            flex-wrap: wrap;

            @media (max-width: 1300px) {
                column-gap: 50px;
            }

            @media (max-width: 992px) {
                column-gap: 20px;
            }

            .pxl-item--title {
                padding-bottom: 28px;
                padding-top: 28px;

                @media (max-width: 992px) {
                    padding-bottom: 15px;
                    padding-top: 15px;
                }

                margin-bottom: -1px;
                font-size: 20px;
                color: #0a1119;
                border-bottom: 2px solid transparent;
                @extend .ft-theme-default;

                &.active {
                    border-bottom-color: $primary_color;
                }
            }
        }

        .pxl-tabs--content {
            ul {
                margin-top: 20px;
                margin-bottom: 0;

                li {
                    margin-top: 12px;
                    list-style: none;
                    padding-left: 18px;
                    @extend .ft-public;
                    font-size: 16px;
                    font-weight: 500;
                    line-height: 24px;
                    position: relative;
                    color: #0a1119;

                    &:before {
                        position: absolute;
                        content: '';
                        top: 50%;
                        transform: translatey(-50%);
                        left: 0;
                        width: 5px;
                        height: 5px;
                        background-color: $primary_color;
                        color: #0a1119;
                    }

                }
            }
        }
    }

}

.pxl-tabs2 {
    .pxl-tabs--title {
        .pxl-item--title {
            font-size: 20px;
            @extend .ft-theme-default;
            font-weight: 500;
            color: $secondary_color;
            padding-bottom: 32px;
            display: inline-block;
            position: relative;

            @media (max-width: 1500px) {
                padding-bottom: 15px;
                padding-top: 15px;
            }

            &:before {
                position: absolute;
                content: '';
                right: 0;
                bottom: -1px;
                background-color: $secondary_color;
                height: 2px;
                width: 0;
                @include transition(all .25s cubic-bezier(.645, .045, .355, 1));
                ;
            }

            span {
                background-color: #e7e7e7;
                display: inline-block;
                font-size: 15px;
                font-weight: 400;
                color: $secondary_color;
                padding: 0 25px;
                line-height: 34px;
                margin-left: 15px;

                @media (max-width: 1200px) {
                    padding: 0 10px;
                    border-radius: 5px;
                }
            }

            margin-right: 100px;

            @media (max-width: 1500px) {
                margin-right: 50px;
            }

            @media (max-width: 1200px) {
                margin-right: 20px;
            }

            &:last-child {
                margin-right: 0 !important;
            }

            &.active {
                &:before {
                    width: 100%;
                    left: 0;
                    right: auto;
                }
            }
        }
    }

    .pxl-tabs--content {
        border-top: 1px solid #d2d4d5;
        //border-bottom: 1px solid #d2d4d5;
    }
}

.pxl-tabs-slip1 {
    position: relative;

    .pxl-item--content {
        position: sticky;
        top: 100px;
        margin-top: 50px;
    }
}

.pxl-tab-carousel1 {
    .pxl-swiper-dots {
        text-align: left;
        margin-left: -8px;
        margin-top: 61px;
        margin-bottom: 0;
    }
}

.pxl-tabs3 {
    .pxl-tabs--title {
        display: flex;
        justify-content: space-between;
        padding-bottom: 46px;
        max-width: 1070px;
        margin: 0 auto;

        @media (max-width: 575px) {
            column-gap: 5px;
        }

        .pxl-item--title {
            text-align: center;
            font-size: 17px;
            color: #121315;
            @extend .ft-theme-default;
            letter-spacing: 1.6px;
            text-transform: uppercase;
            font-weight: 500;
            position: relative;

            @media (max-width: 575px) {
                font-size: 15px;
                line-height: 18px;
                letter-spacing: 0;
                text-transform: capitalize;
            }

            &:before {
                position: absolute;
                content: '';
                left: 50%;
                transform: translatex(-50%);
                bottom: -20px;
                width: 16px;
                height: 11px;
                background-color: $secondary_color;
                clip-path: polygon(50% 100%, 0 0, 100% 0);
                opacity: 0;
                @include transition(all .25s cubic-bezier(.645, .045, .355, 1));
            }

            &.active {
                &:before {
                    bottom: -26px;
                    opacity: 1;
                }

            }

            .icon-tab {
                margin-bottom: 20px;

                svg {
                    max-width: 24px;
                    height: auto;
                }
            }
        }
    }

    &.style-2 {
        .pxl-tabs--title {
            justify-content: space-around;
            max-width: 2000px;
            padding-bottom: 0;
            border-bottom: 1px solid #d8d9da;

            .pxl-item--title {
                padding-top: 80px;
                letter-spacing: 0;
                font-weight: 500;
                font-size: 20px;
                text-transform: capitalize;
                padding-bottom: 30px;

                &:before {
                    display: none;
                }

                &:after {
                    position: absolute;
                    content: '';
                    bottom: -2px;
                    left: 50%;
                    transform: translatex(-50%);
                    height: 3px;
                    background-color: $primary_color;
                    width: 0%;
                    @include transition(all .25s cubic-bezier(.645, .045, .355, 1));
                }

                &.active {
                    &:after {
                        width: 100%;
                    }
                }
            }

            .icon-tab {
                background-color: $primary_color;
                display: inline-flex;
                align-items: center;
                justify-content: center;
                width: 54px;
                height: 54px;
                border-radius: 1000px;
                position: absolute;
                left: 50%;
                transform: translatex(-50%);
                top: 0;

                i {
                    font-size: 19px;
                    color: #fff;
                }

                svg {
                    fill: #fff;
                }
            }
        }
    }
}

.pxl-tabs4 {
    .pxl-tabs--inner {
        display: flex;

        @media (max-width: 767px) {
            display: block;
        }

        .pxl-tabs--title,
        .pxl-tabs--content {
            width: 50%;
            padding: 0 15px;

            @media (max-width: 767px) {
                width: 100%;
            }
        }

        .pxl-tabs--title {
            z-index: 2;
            display: flex;
            align-items: center;
            border: 1px solid #d7d7d7;
            background-color: #fff;
            padding: 15px 100px;
        }

        .title-box {
            font-size: 13px;
            text-transform: uppercase;
            letter-spacing: 4.8px;
            font-weight: 400;
            margin-bottom: 37px;
        }

        .pxl-item--title {
            display: block;
            font-size: 26px;
            @extend .ft-theme-default;
            color: #cfcccc;
            font-weight: 500;
            line-height: 40px;

            .icon-tab {
                opacity: 0;
                display: inline-block;
                transform: translatey(-1px);
                @include transition(all .25s cubic-bezier(.645, .045, .355, 1));

                i {
                    font-size: 14px;
                }
            }

            &.active {
                color: #121315;

                .icon-tab {
                    margin-left: 8px;
                    opacity: 1;
                }
            }

            +.pxl-item--title {
                margin-top: 20px;
            }
        }
    }
}

.pxl-tabs5 {
    .pxl-tabs--title {
        display: inline-flex;
        gap: 12px;
        margin-bottom: 25px;
        flex-wrap: wrap;

        @media (max-width: 767px) {
            justify-content: center;
            width: 100%;
        }

        .pxl-item--title {
            font-size: 15px;
            color: $secondary_color;
            line-height: 40px;
            padding: 0 34px;
            border-radius: 90px;
            border: 1px solid rgba(217, 217, 217, 0.60);
            background-color: #FFF;
            font-weight: 500;
            position: relative;

            @media (max-width: 1200px) {
                padding: 0 25px;
            }

            @media (max-width: 1024px) {
                padding: 0 20px;
            }

            @media (max-width: 767px) {
                padding: 0 15px;
                font-size: 13px;
            }

            &.active {
                color: #fff;
                background-color: $primary_color;
                border-color: $primary_color;
            }
        }
    }
}

.pxl-tabs6 {
    .pxl-tabs--title {
        display: flex;
        gap: 15px;
        flex-wrap: wrap;
        margin-bottom: 50px;

        @media (max-width: 576px) {
            justify-content: center;
            gap: 10px;
        }

        .icon-tab {
            display: inline-flex;
        }

        .pxl-item--title {
            display: flex;
            align-items: center;
            gap: 12px;
            font-size: 15px;
            color: #fff;
            line-height: 49px;
            background-color: rgba(255, 255, 255, 0.1);
            @extend .bg-blur;
            padding: 0 24px;
            border-radius: 90px;
            border: 1px solid rgba(255, 255, 255, 0.15);
            border-radius: 6px;

            @media (max-width: 576px) {
                line-height: 40px;
                padding: 0 15px;
            }

            svg path {
                fill: #fff;
                @include transition(all .25s cubic-bezier(.645, .045, .355, 1));
            }

            &.active {
                background-color: #fff;
                border-color: #fff;
                color: $secondary_color;

                svg path {
                    fill: $secondary_color;
                }
            }
        }
    }
}